* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    color: #30d176;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: #1be885;
    padding: 8px;
    border-radius: 10px;
    color:black; 
    transition: 0.3s;  
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.button-group {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: medium;
}

.btn:hover {
    background-color: #1be885;
    color: #333;
    transition: 0.4s;
}

.section {
    margin-bottom: 40px;
    display: none;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input[type="text"],
form input[type="submit"],
form input[type="number"]
 {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1be885;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f9;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}