@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    margin-top: 96px;
    height: 55px;
    margin-left:50px;
    color: rgb(124, 38, 7);
    display: flex;
    background-color: white;
    overflow: hidden;
}
.navbar button {
    border-radius:8px ;
    background-color: #88f28d;
    color: #333;
    margin-left: 170px;
    padding: 10px;
    width: auto;
    font-size: 20px;
    padding-top: 14px ;
    text-align: center;
    color: black;
    text-decoration: none;
    

}
.navbar button:hover {
    background-color: rgb(32, 32, 58);
    color: white;
   border-bottom: 2px solid rgb(59, 55, 55);
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
   border-radius: 15px;
}
.container {
    padding: 20px;
}
.formContainer{
    margin-left: 30px;
    width: 650px;
    
}

.studInfotable {
    margin-top: -325px;
    margin-left: 800px;
    width: 650px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.content {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    display: none;
}
.addStudent{
    width: 400px;

}
.active {
    display: block;
}
h2 {
    color: #333;
}
input[type="text"], input[type="number"] ,input[type="email"] {
    width:300px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 30px;
}
input[type="text"]{
    margin-left:50px;

}
input[type="number"]{
    margin-left:68px;
    
}
input[type="email"]{
    margin-left:50px;
    
}

input[type="submit"] {
    margin-left:200px;
    border-radius:7px ;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

.updateContent{
    margin-top:250px ;
}
#studId{
    margin-left:50px;
}
#branch{
    margin-left:50px;
}
.deletContent{
    margin-top: 250px;
}
.formct{
    height: 350px;
}
.studListContiner{
    margin-top:250px;
    height:100%;

}
#namee{
    margin-left: 58px;
}
#emaill{
    margin-left: 58px;
}
/*  */